<router-outlet></router-outlet>
<button type="button" class="btn btn-primary">Primary</button>
<div class="container backgroundcolor p-5">
  <div class="row py-1">
    <div class="col-sm-4 d-flex justify-content-center p-5 blue box">Hello Box 1</div>
    <div class="col-sm-4 d-flex justify-content-center p-5 yellow box">Hello Box 2</div>
    <div class="col-sm-4 d-flex justify-content-center p-5 green box">Hello Box 3</div>
  </div>
  <div class="row">
    <div class="col-sm-4 d-flex justify-content-center p-5 red box">Hello Box 4</div>
    <div class="col-sm-8 d-flex justify-content-center p-5 pink box">Hello Box 5</div>
  </div>
</div>